* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerTodo {
  margin-left: 20px;
}

.formTodo {
  margin-top: 20px;
}

.riscado {
  color: rgb(175, 18, 18);
  text-decoration: line-through;
}

.todo {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 40px;
}
